@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
padding-top: 60px;
padding-bottom: 40px;
}
.sidebar-nav {
padding: 9px 0;
}


.padded {
	padding-right:10px;
	padding-bottom:10px;

}

.small-description { display:none; }

@media screen and (max-width: 1000px) {
	img.padded.pull-left { float:none; }
}

@media screen and (max-width: 800px) {
	.small-description { display:block; }
	.large-description { display:none; }

	.hero-unit h1 { 
		padding-top:20px;
		font-size:40px;
		clear:both;
	}

	.hero-unit h2 {
		font-size:24px;
		line-height:30px;
	}

}


@media screen and (max-width: 767px) {
	img.padded.pull-left { float:left; }

	.span4 { clear:both; }



}

